$primary-color:  #f1f3f8; // #ffd57e
$secondary-color: #d6e0f0;
$color-1: #1a1a2e;
$color-2: #16213e;
//fontfamily
$font-family:'Poppins', sans-serif;

//text
$text-color-1:#1a1a2e;
$text-color-2:#16213e;

//font
$font-weight : (
    'dark' : 900,
    'extra-bold' : 800,
    'bold' : 700,
    'semi-bold' : 600,
    'medium' : 500,
    'regular' : 400
);
$body-font:18px;
$font-size-1:2rem;
$font-size-2:1.8rem;
$font-size-3:1.5rem;
$font-size-4:1.3rem;
$font-size-5:1rem;
$font-size-6:.8rem;
//border
$border-color-1:#f0f0f0;
$border-radius:(

  'extra-small':5px,
  'small':10px,
  'medium':15px,
  'big':20px
);



//shadow

$box-shadow:(

  'light':(0 0.9px 3.9px rgba(0, 0, 0, 0.09),
            0 1.9px 10px rgba(0, 0, 0, 0.12) ),
  'dark':(0 0.9px 3.9px rgba(0, 0, 0, 0.14),
           0 1.9px 10px rgba(0, 0, 0, 0.19) )
); 


//media queries
@mixin smartphone {
    @media screen and (min-width: 688px) {
      @content;
    }
  }
  @mixin tab {
    @media screen and (min-width: 992px) {
      @content;
    }
  }
  @mixin pc {
    @media screen and (min-width: 1312px) {
      @content;
    }
  }
  