.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #1a1a2e;
  color: #f1f3f8;
  -webkit-box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.09), 0 1.9px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.09), 0 1.9px 10px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.project-card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.14), 0 1.9px 10px rgba(0, 0, 0, 0.19);
          box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.14), 0 1.9px 10px rgba(0, 0, 0, 0.19);
}

.project-card .project-title {
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.project-card .project-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.project-card .project-description {
  font-weight: 400;
  text-align: center;
  color: #d6e0f0;
  padding: 10px;
}

.project-card .link {
  background-color: #d6e0f0;
  border-radius: 5px;
}

.project-card .link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 691px) and (max-width: 1024px) {
  .project-card {
    width: 400px;
    height: 350px;
  }
}

@media screen and (max-width: 690px) {
  .project-card {
    margin: 20px 0;
  }
}

.project-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.project-modal .modal-content {
  background-color: #f1f3f8;
  margin: auto;
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-modal .modal-content .project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 50px 0;
}

.project-modal .modal-content .project-details .content {
  width: 50%;
}

.project-modal .modal-content .project-details .parts-of-project {
  margin: 0;
}

.project-modal .modal-content .project-details .tech-stack {
  font-weight: 400;
  margin: 10px 0;
}

.project-modal .close {
  color: #1a1a2e;
  padding: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.project-modal .close:hover,
.project-modal .close:focus {
  color: #f1f3f8;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  .project-modal .modal-content {
    width: 85%;
  }
  .project-modal .modal-content .project-details {
    margin: 0 0 5px 0;
  }
  .project-modal .modal-content .project-details .content {
    width: 90%;
  }
  .project-modal .modal-content .project-details .parts-of-project {
    margin: 0;
  }
  .project-modal .modal-content .project-details .tech-stack {
    text-align: center;
  }
}

@media (min-width: 691px) and (max-width: 1024px) {
  .project-modal .modal-content {
    width: 80%;
  }
  .project-modal .modal-content .project-details {
    margin: 0 0 5px 0;
  }
  .project-modal .modal-content .project-details .content {
    width: 90%;
  }
  .project-modal .modal-content .project-details .parts-of-project {
    margin: 0;
  }
  .project-modal .modal-content .project-details .tech-stack {
    text-align: center;
  }
}

#hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#hero-container .hero-container-content {
  padding: 10px;
}

#hero-container .hero-container-content .name {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: #1a1a2e;
}

#hero-container .hero-container-content .my-passion {
  font-size: 1.3rem;
  font-weight: 600;
  color: #16213e;
  margin: 0;
}

#hero-container .hero-container-content .description {
  width: 80%;
  max-width: 600px;
  margin: 0 0 20px 0;
  color: #16213e;
  font-size: 0.8rem;
}

#hero-container .hero-container-content .description a {
  text-decoration: underline;
}

#hero-container .hero-container-content .description a:hover {
  text-decoration: none;
}

#hero-container .hero-container-content .btn {
  margin: 0;
  font-weight: 500;
  color: #f1f3f8;
  padding: 15px 30px;
  opacity: .9;
  background-color: #1a1a2e;
  -webkit-box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.09), 0 1.9px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.09), 0 1.9px 10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

#hero-container .hero-container-content .btn:hover {
  -webkit-box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.14), 0 1.9px 10px rgba(0, 0, 0, 0.19);
          box-shadow: 0 0.9px 3.9px rgba(0, 0, 0, 0.14), 0 1.9px 10px rgba(0, 0, 0, 0.19);
  opacity: 1;
}

#about-me {
  padding: 50px  10px;
  background-color: #d6e0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#about-me .aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 30px 0;
}

#about-me .aboutme .heading {
  margin: 0 0 10px 0;
}

#about-me .aboutme .content {
  font-size: 1rem;
  color: #16213e;
}

#about-me .skill-container .heading {
  margin: 0 0 10px 0;
}

#about-me .skill-container .skill-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#about-me .skill-container .skill-item-container .skill-items {
  margin: 0;
  color: #16213e;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: lowercase;
  font-weight: 400;
  border-radius: 10px;
}

#about-me .skill-container .skill-item-container .skill-items::before {
  content: "";
  width: 10px;
  border-radius: 50px;
  height: 10px;
  background-color: #16213e;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 10px;
}

@media screen and (max-width: 690px) {
  #about-me .skill-container .skill-item-container {
    width: 90%;
  }
}

@media (min-width: 691px) and (max-width: 1024px) {
  #about-me .skill-container .skill-item-container {
    width: 80%;
  }
}

#work {
  width: 93%;
  max-width: 1324px;
  padding: 50px 10px;
  margin: 0 auto;
}

#work .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 0 0;
}

#contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacts .heading {
  margin: 0;
}

#contacts .contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contacts .contact-items .social-links {
  padding: 20px;
  margin: 10px 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  color: #16213e;
  font-weight: 700;
  border-radius: 20px;
}

#contacts .contact-items .social-links:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (max-width: 690px) {
  #contacts {
    text-align: center;
  }
  #contacts .contact-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  #contacts .contact-items .social-links {
    padding: 20px;
    margin: 0;
  }
}

@media (min-width: 691px) and (max-width: 1024px) {
  #contacts {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #contacts .social-links {
    padding: 20px;
    margin: 20px 0;
  }
}

footer {
  margin: 0;
  padding: 20px;
  background-color: #d6e0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}

footer small {
  color: #1a1a2e;
}

footer small a {
  text-decoration: underline;
  color: #16213e;
}

footer small a:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f3f8;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #1a1a2e;
}

a:hover {
  color: #16213e;
}

img {
  max-width: 80%;
  background-color: #f1f3f8;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  pointer-events: none;
}

.heading {
  color: #1a1a2e;
  font-size: 1.5rem;
  text-align: center;
}

.btn {
  font-size: 0.6rem;
  padding: 10px;
}
/*# sourceMappingURL=styles.css.map */