h1 {
  font-size: 6rem;
  margin: 0;
}
h2 {
  font-size: 3rem;
  margin: 10px 0;
  opacity: 0.7;
  line-height: 55px;
}
p{
  opacity: .4;
}
main {
  height: 100vh;
}
body {
  background-color: #ffd369;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pic
{
  width: 90%;
  max-width: 600px;
}