:root {
  --ff:'Sen', sans-serif;
  --base-font:16px;
  --f-large: 4.188rem;
  --f-size-1: 3.125rem;
  --f-size-2: 2.313rem;
  --background-color:#1539CF;
  --text-color: #F1D3D3;
}

*{
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* outline: black solid; */
}

html {
  scroll-behavior: smooth;
}
body{
  font-family: var(--ff);
  font-size: var(--base-font);
}
a{
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}
a:hover
{
  text-decoration: underline;
}
ul{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
h1{
  font-size: 4.188rem;
}
.logo
{
  font-size: 1.563rem;
  margin: 50px 0 0 ;
  font-weight: bold;
}

.introduction
{
  background-color: var(--background-color);
  margin: 10px;
  max-width: 99%;
  min-height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--text-color);
}
.container
{
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}
.social-links-container
{
  padding: 0 0 45px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.social-links-container li:not(:first-child)
{
  margin:0 0 0 40px ;
}

@media screen and (max-width:768px) {
  .container
  {
    margin:0 0 0 34px ;
    width: 100%;
  }
  .introduction{
    margin: 0;
    width: 100%;
  }
  h1{
    font-size: 2.563rem;
  }
}

@media screen and (max-width:425px) {
  .introduction
  {
    min-height: 100vh;
    max-width: 100%;
  }
  .container
  {
    margin:0 0 0 15px ;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    max-width: 100%;
  }
  .logo{
    font-size: 1rem;
    margin: 30px 0 0 ;
  }
  h1{
    font-size: 1.563rem;
  }
  
  .social-links-container li:not(:first-child)
  {
    font-size: 0.875rem;
    margin:0;
  }
  .social-links-container li
  {
    padding: 10px;
    font-size: 0.875rem;
  }
}