.project-card
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: $color-1;
    color: $primary-color;
    box-shadow: map-get($map: $box-shadow, $key: light );
    border-radius: map-get($map: $border-radius, $key: extra-small);
    @include scale-transition;
    &:hover
    {
        transform: translateY(-10px);
        box-shadow: map-get($map: $box-shadow, $key: dark );
    }
    .project-title
    {
        font-weight: map-get($map: $font-weight, $key: bold);
        text-align: center;
        margin: 0;
    }
    .project-link-container
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100% ;
    }
    .project-description
    {
        font-weight: map-get($map: $font-weight, $key: regular);
        text-align: center;
        color: $secondary-color;
        padding: 10px;
    }
    .link
    {
        background-color: $secondary-color;
        border-radius: map-get($map: $border-radius, $key: extra-small );
        &:hover
        {
            transform: scale(1.1);
        }
    }
}
@include tab
{
    .project-card
{
 
    width: 400px;
    height: 350px;
 
}
}
@include smartphone
{
    .project-card
    {
        margin: 20px 0;
    }
}