#about-me
{
    padding: 10px;
    background-color: $secondary-color;
        .skill-container
        {
            padding: 10px;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            h1
            {
                border-radius: map-get($map: $border-radius, $key:small );
                font-size: map-get( $font-size,big-1);
                font-weight: map-get($map: $font-weight, $key: extra-bold );
                margin: 10px 0;
                color: $text-color-1;
            }
            .skill-item-container
            {
                display: flex;
                flex-flow: row wrap;
                .skill-items
                {
                    margin: 5px;
                    color: $text-color-2;
                    padding: 20px;
                    border: 1px solid $fourth-color;
                    display: flex;
                    justify-content: center;
                    text-transform: lowercase;
                    font-weight: map-get($map: $font-weight, $key: semi-bold );
                    font-size: map-get( $font-size,small-3);
                    border-radius: map-get($map: $border-radius , $key: small );
                    &::before
                    {
                        content: "";
                        width: 10px;
                        border-radius: 50px;
                        height: 10px;
                        background-color: black;
                        align-self: center;
                        margin: 0 10px ;
                    }
                }
            }
    
        }
       
       
    } 


@include smartphone
{
    #about-me
{

    .content-container
    {   
        
        .short-story-about-me
        {
            width: 90%;
        }

        .resume
        {
            font-size: map-get( $font-size,small-3);
          
        }
        
        .skill-container
        {
     
            h1
            {
                font-size: map-get( $font-size,medium-2);
            }
            .skill-item-container
            {
                
                width: 90%; 
            }
    
        }
        
    } 
}

}

@include tab
{
    #about-me
{

    .content-container
    {   
        
        .short-story-about-me
        {
            width: 90%;
            font-size: map-get( $font-size,medium-3);

        }

        .resume
        {
            font-size: map-get( $font-size,medium-3);
          
        }
        
        .skill-container
        {
     
            h1
            {
                font-size: map-get( $font-size,medium-3);
            }
            .skill-item-container
            {
                
                width: 80%; 
            }
    
        }
        
    } 
}

}