#about-me
{
    padding: 10px;
    background-color: $secondary-color;
    text-align: center;

            .skill-item-container
            {
                display: flex;
                flex-flow: row wrap;
                .skill-items
                {
                    margin: 5px;
                    color: $text-color-2;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    text-transform: lowercase;
                    font-weight: map-get($map: $font-weight, $key: semi-bold );
                    border-radius: map-get($map: $border-radius , $key: small );
                    &::before
                    {
                        content: "";
                        width: 10px;
                        border-radius: 50px;
                        height: 10px;
                        background-color: $text-color-2;
                        align-self: center;
                        margin: 0 10px ;
                    }
                }
            }
    
        }
       
       


@include smartphone
{
    #about-me
{

   
        
        
        .skill-container
        {
     
           
            .skill-item-container
            {
                
                width: 90%; 
            }
    
        }
        
    } 
}


@include tab
{
    #about-me
{

   
        .skill-container
        {
     
          
            .skill-item-container
            {
                
                width: 80%; 
            }
    
        }
        
    } 
}

