footer
{
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    small
    {
        a
        {
            text-decoration: underline;
        }
    }
    
  
}
