#hero-container
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .hero-container-content
    {
        padding:  10px;
        & .name
        {
            font-size:$font-size-1;
            font-weight: map-get($map: $font-weight, $key: semi-bold );
            margin: 0;
            color: $text-color-1;
        }
        & .my-passion
        {
            font-size:$font-size-4;
            font-weight: map-get($map: $font-weight, $key: semi-bold );
            color: $text-color-2;
            margin: 0;
        }
        & .description
        {
            width: 80%;
            max-width: 600px;
            margin: 0 0 20px 0 ;
            color: $text-color-2;
            font-size: $font-size-6;
            a
            {
                text-decoration: underline;
                &:hover
                {
                    text-decoration: none;
                }
            }
        }
        & .btn
        {
            margin: 0;
            font-weight: map-get($map: $font-weight, $key: medium );
            color: $primary-color;
            padding: 15px 30px;
            opacity: .9;
            background-color: $color-1;
            box-shadow: map-get($map: $box-shadow, $key:light );
            border-radius: map-get($map: $border-radius, $key: small );
            &:hover
            {
                box-shadow: map-get($map: $box-shadow, $key:dark );
                opacity: 1;
            }
        }
    }
   
  
}

