#hero-container
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .hero-container-content
    {
        padding: 10px;
        text-align: center;
        & .name
        {
            font-size: map-get($map: $font-size , $key: big-3 );
            font-weight: map-get($map: $font-weight, $key: semi-bold );
            margin: 0;
            color: $text-color-1;
        }
        & .my-passion
        {
            font-size: map-get($map: $font-size , $key: medium-3 );
            font-weight: map-get($map: $font-weight, $key: medium );
            color: $text-color-2;
            margin: 0;
        }
    }
    .quick-links-container
    {
        padding: 10px 0px ;
        margin: 10px;
        & .social-links
        {
            font-size: map-get($map: $font-size, $key: small-2 );
            font-weight: map-get($map: $font-weight, $key: regular );
            margin: 10px 0px;
            &:hover
            {
                color: $primary-color;
            }

        }
    }
  
}

@include smartphone
{
    #hero-container
    {
       
        .hero-container-content
        {
           
            & .name
            {
                font-size: map-get($map: $font-size , $key: big-1 );
                padding: 0;
            }
            & .my-passion
            {
                font-size: map-get($map: $font-size , $key: medium-1 );
            }
        }
        .quick-links-container
        {
            padding: 20px 0px ;
            margin: 10px;
            & .social-links
            {
                font-size: map-get($map: $font-size, $key: small-2);
            }
        }
      
    }
}
@include tab
{
    #hero-container
    {
       
        .hero-container-content
        {
           
            & .name
            {
                font-size: map-get($map: $font-size , $key: big-3 );
            }
        
        }
        .quick-links-container
        {
        
            & .social-links
            {
                font-size: map-get($map: $font-size, $key: small-1);
            }
        }
       
    }
}